<!--
<h2>Income</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in incomeDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
    {{ income | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ income  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ income  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Ministry</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in ministryDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Misc</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in miscDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Assessment, Benefits, Salary</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in benefitsDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>
-->

<svg id="giving-range" data-total-income-expenses data-total-income="totalIncome" data-total-expenses="totalExpenses"></svg>
<svg id="giving-range" data-nv-piechart data-input="expensesPieData"></svg>
<svg id="giving-range" data-income-expenses-by-month data-income="income" data-expenses="expenses"></svg>
