<h2>Income</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in incomeDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
    {{ income | filter:{month:month} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ income  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ income  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Ministry</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in ministryDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Misc</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in miscDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Assessment, Benefits, Salary</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in benefitsDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month} | matchDescriptionAndSum:description }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description }}</td>
  </tr>
  </tbody>
</table>