<h2>Income</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in incomeDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
    {{ income | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description | number:0 }}
    </td>
    <td>{{ income  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ income  | matchDescriptionAndSum:description | number:0 }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Ministry Expenses</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in ministryDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description | number:0 }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description | number:0 }}</td>
  </tr>
  </tbody>
</table>

<br>
<h2>Healthcare Expenses</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <th>Description</th>
        <th data-ng-repeat="month in months">{{month.shortName}}</th>
        <th>Average</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="description in healthcareDescriptions">
        <td>{{description}}</td>
        <td data-ng-repeat="month in months">
            {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description | number:0 }}
        </td>
        <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
        <td>{{ expenses  | matchDescriptionAndSum:description | number:0 }}</td>
    </tr>
    </tbody>
</table>

<br>

<h2>Misc</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in miscDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description | number:0 }}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description | number:0 }}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Assessment, Benefits, Salary</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <th>Description</th>
    <th data-ng-repeat="month in months">{{month.shortName}}</th>
    <th>Average</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="description in benefitsDescriptions">
    <td>{{description}}</td>
    <td data-ng-repeat="month in months">
      {{ expenses | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description | number:0}}
    </td>
    <td>{{ expenses  | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
    <td>{{ expenses  | matchDescriptionAndSum:description | number:0}}</td>
  </tr>
  </tbody>
</table>

<br>

<h2>Income, Expenses</h2>
<svg id="total-income-expenses" data-total-income-expenses data-total-income="totalIncome" data-total-expenses="totalExpenses"></svg>

<br>

<h2>Salary, Misc, Benefits, Assessment, Salary</h2>
<svg id="expenses-pie-chart" data-nv-piechart data-input="expensesPieData"></svg>

<br>

<h2>Income, Expenses</h2>
<p><span class="badge badge-income"></span>&nbsp;Income&nbsp;&nbsp;<span class="badge badge-expenses"></span>&nbsp;Expenses</p>
<svg id="income-expenses-by-month" data-income-expenses-by-month data-income="income" data-expenses="expenses"></svg>
