<table class="table table-striped">
  <thead>
  <tr>
    <th>Nbr. of Gifts per Year</th>

    <th>Nbr. of Partners</th>
    <th>Pct. of Partners</th>
    <th>Tot. USD Amt. over Last 12 Months</th>
    <th>Equivalent Monthly Amt.</th>
    <th>Pct. Total Monthly Amt.</th>
    <th>Avg. Monthly Gift Amt. per Partner</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="range in ranges">
    <td>{{range.label}}</td>

    <td>{{currentPartners | frequencyBandPass:range | size}}</td>
    <td>{{currentPartners | frequencyBandPass:range | countPercentage:totalCount | number:1}}%</td>
    <td>{{currentPartners | frequencyBandPass:range | amount | currency}}</td>
    <td>{{currentPartners | frequencyBandPass:range | monthlyAmount | currency}}</td>
    <td>{{currentPartners | frequencyBandPass:range | amountPercentage:totalAmount | number:1}}%</td>
    <td>{{currentPartners | frequencyBandPass:range | monthlyAmountPerPartner | currency}}</td>
  </tr>
  </tbody>
</table>

<br>

<h3>Number of Partners at Frequency</h3>
<svg id="giving-frequency" data-nv-barchart data-input="chartData"></svg>
