<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th colspan="4">Actual</th>
    <th colspan="4">Cumulative</th>
  </tr>
  <tr>
    <th>Monthly Average Giving Range</th>

    <th># Partners in This Range</th>
    <th>% of Partners in This Range</th>
    <th>Monthly Amount in this Range</th>
    <th>Monthly % in this Range</th>

    <th># Partners in This Range</th>
    <th>% of Partners in This Range</th>
    <th>Monthly Amount in this Range</th>
    <th>Monthly % in this Range</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="range in ranges">
    <td>${{range.low}}+</td>
    
    <td>{{currentPartners | rangeBandPass:range | count}}</td>
    <td>{{currentPartners | rangeBandPass:range | countPercentage:totalCount | number:1}}%</td>
    <td>{{currentPartners | rangeBandPass:range | amount | currency}}</td>
    <td>{{currentPartners | rangeBandPass:range | amountPercentage:totalAmount | number:1}}%</td>

    <td>{{currentPartners | rangeHighPass:range | count}}</td>
    <td>{{currentPartners | rangeHighPass:range | countPercentage:totalCount | number:1}}%</td>
    <td>{{currentPartners | rangeHighPass:range | amount | currency}}</td>
    <td>{{currentPartners | rangeHighPass:range | amountPercentage:totalAmount | number:1}}%</td>
  </tr>
  </tbody>
</table>