<table class="table table-striped">
  <thead>
  <tr data-ng-class="arrowDirection">
    <th> Account Number</th>
    <th data-ng-class="active.accountName" data-ng-click="sortOn('accountName')">Account Name</th>
    <th data-ng-class="active.firstTransactionDate" data-ng-click="sortOn('firstTransactionDate')">First Gift Date</th>
    <th data-ng-class="active.lastTransactionDate" data-ng-click="sortOn('lastTransactionDate')">Last Gift Date</th>
    <th data-ng-class="active.totalTransactionAmount" data-ng-click="sortOn('totalTransactionAmount')">Lifetime Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="partner in lostPartners | orderBy:sortingColumn:reverse">
    <td>{{partner.accountNumber}}</td>
    <td>{{partner.accountName}}</td>
    <td>{{partner.firstTransactionDate | date:'M/d/yyyy'}}</td>
    <td>{{partner.lastTransactionDate | date:'M/d/yyyy'}}</td>
    <td>{{partner.totalTransactionAmount | currency}}</td>
  </tr>
  </tbody>
</table>