<table class="table table-striped">
  <thead>
  <tr>
    <th>Account Number</th>
    <th>Account Name</th>
    <th>First Gift Date</th>
    <th>Last Gift Date</th>
    <th>Lifetime Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="partner in lostPartners">
    <td>{{partner.accountNumber}}</td>
    <td>{{partner.accountName}}</td>
    <td>{{partner.firstTransactionDate | date:'M/d/yyyy'}}</td>
    <td>{{partner.lastTransactionDate | date:'M/d/yyyy'}}</td>
    <td>{{partner.totalTransactionAmount | currency}}</td>
  </tr>
  </tbody>
</table>