<table class="table table-striped">
  <thead>
  <tr>
    <th>Nbr. of Gifts per Year</th>

    <th>Nbr. of Financial Partners</th>
    <th>Tot. Amt. Given</th>
    <th>Tot. Nbr. of Gifts</th>
    <th>Avg. Gift Amt.</th>
    <th>Avg. Monthly Gifts</th>
    <th>Avg. Monthly Support</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Multiple Gifts</td>

    <td>{{multipleGivers | size}}</td>
    <td>{{multipleGiversTotalAmount | currency}}</td>
    <td>{{multipleGiversGiftCount}}</td>
    <td>{{multipleGiversTotalAmount / multipleGiversGiftCount | currency}}</td>
    <td>{{multipleGiversTotalAmount / multipleGiversGiftCount / 12 | currency}}</td>
    <td>{{multipleGivers | monthlyAmount | currency}}</td>
  </tr>
  <tr>
    <td>Single Gifts</td>

    <td>{{singleGivers | size}}</td>
    <td>{{singleGivers | amount | currency}}</td>
    <td>{{singleGiversGiftCount}}</td>
    <td>{{singleGiversTotalAmount / singleGiversGiftCount | currency}}</td>
    <td>{{singleGiversTotalAmount / singleGiversGiftCount / 12 | currency}}</td>
    <td>{{singleGivers | monthlyAmount | currency}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>Total</td>

    <td>{{totalCurrentPartners | size}}</td>
    <td>{{totalAmount | currency}}</td>
    <td>{{totalGiftCount}}</td>
    <td>{{totalAmount / totalGiftCount | currency}}</td>
    <td>{{totalAmount / totalGiftCount / 12 | currency}}</td>
    <td>{{totalCurrentPartners | monthlyAmount | currency}}</td>
  </tr>
  </tfoot>
</table>

<br>

<h3>Single vs. Multiple Givers</h3>
<svg id="multiple-single" data-nv-piechart data-input="multipleSingleData"></svg>


<br>

<h3>Lost, New, Current Partners</h3>
<svg id="new-current-lost" data-nv-barchart data-input="newCurrentLostData"></svg>
