<div data-ng-include="'js/ng-app-mpga/templates/loading.html'" data-ng-hide="partners"></div>

<h2>Top 50% of Your Ministry Partners</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr data-ng-class="arrowDirection">
        <th> Acct. Nbr.</th>
        <th>Acct. Name</th>
        <th>12 Mo. Giving Tot.</th>
        <th>12 Mo. Gift Count</th>
        <th>12 Mo. Giving Avg.</th>
        <th>First Gift</th>
        <th>Last Gift</th>
        <th>Lifetime Tot.</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="partner in upperFiftyPercentile">
        <td>{{partner.accountNumber}}</td>
        <td>{{partner.accountName}}</td>
        <td>{{partner.twelveMonthTotalAmount | currency}}</td>
        <td>{{partner.twelveMonthTotalCount | number:0}}</td>
        <td>{{partner.twelveMonthTotalAmount / 12 | currency}}</td>
        <td>{{partner.firstTransactionDate | moment:'MM/DD/YY'}}</td>
        <td>{{partner.lastTransactionDate | moment:'MM/DD/YY'}}</td>
        <td>{{partner.totalTransactionAmount | currency}}</td>
    </tr>
    </tbody>
</table>

<h2>The Rest of Your Ministry Partners</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr data-ng-class="arrowDirection">
        <th> Acct. Nbr.</th>
        <th>Acct. Name</th>
        <th>12 Mo. Giving Tot.</th>
        <th>12 Mo. Gift Count</th>
        <th>12 Mo. Giving Avg.</th>
        <th>First Gift</th>
        <th>Last Gift</th>
        <th>Lifetime Tot.</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="partner in lowerFiftyPercentile">
        <td>{{partner.accountNumber}}</td>
        <td>{{partner.accountName}}</td>
        <td>{{partner.twelveMonthTotalAmount | currency}}</td>
        <td>{{partner.twelveMonthTotalCount | number:0}}</td>
        <td>{{partner.twelveMonthTotalAmount / 12 | currency}}</td>
        <td>{{partner.firstTransactionDate | moment:'MM/DD/YY'}}</td>
        <td>{{partner.lastTransactionDate | moment:'MM/DD/YY'}}</td>
        <td>{{partner.totalTransactionAmount | currency}}</td>
    </tr>
    </tbody>
</table>

<h2>Upper and Lower 50% Givers</h2>
<svg id="support-distribution" data-nv-piechart data-input="partnersData"></svg>



