<div data-ng-include="'js/ng-app-mpga/templates/loading.html'" data-ng-hide="partners"></div>

<table class="table table-striped table-hover">
  <thead>
  <tr data-ng-class="arrowDirection">
    <th>Non Cash</th>
    <th> Acct. Nbr.</th>
    <th data-ng-class="active.accountName" data-ng-click="sortOn('accountName')" class="sortable-header">Acct. Name</th>
    <th data-ng-class="active.twelveMonthTotalAmount" data-ng-click="sortOn('twelveMonthTotalAmount')" class="sortable-header">12 Mo. Giving Tot.</th>
    <th data-ng-class="active.twelveMonthTotalCount" data-ng-click="sortOn('twelveMonthTotalCount')" class="sortable-header">12 Mo. Gift Count</th>
    <th data-ng-class="active.twelveMonthTotalAmount" data-ng-click="sortOn('twelveMonthTotalAmount')" class="sortable-header">12 Mo. Giving Avg.</th>
    <th data-ng-class="active.firstTransactionDate" data-ng-click="sortOn('firstTransactionDate')" class="sortable-header">First Gift</th>
    <th data-ng-class="active.lastTransactionDate" data-ng-click="sortOn('lastTransactionDate')" class="sortable-header">Last Gift</th>
    <th data-ng-class="active.totalTransactionAmount" data-ng-click="sortOn('totalTransactionAmount')" class="sortable-header">Lifetime Tot.</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="partner in partners | orderBy:sortingColumn:reverse">
    <td>
        <span
          data-ng-show="partner.nonCashtwelveMonthTotalAmount > 0"
          data-bs-tooltip="'Y in this column indicates that all or some of the gift comes from non-cash gifts. The amount indicated has no relationship to the amount that may be reported by the donor.'"
          data-placement="right">Y
        </span>
    </td>
    <td>{{partner.accountNumber}}</td>
    <td>{{partner.accountName}}</td>
    <td>
        {{partner.twelveMonthTotalAmount | currency}}
    </td>
    <td>
        {{partner.twelveMonthTotalCount | number:0}}
    </td>
    <td>{{partner.twelveMonthTotalAmount / 12 | currency}}</td>
    <td>{{partner.firstTransactionDate | moment:'MM/DD/YY'}}</td>
    <td>{{partner.lastTransactionDate | moment:'MM/DD/YY'}}</td>
    <td>{{partner.totalTransactionAmount | currency}}</td>
  </tr>
  </tbody>
</table>

<br>

