<table class="table table-striped" data-months="months">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th data-ng-repeat="month in months" data-ng-class="month.style">{{month.year}}</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <th>Description</th>
        <th data-ng-repeat="month in months" data-ng-class="month.styleColor">{{month.shortName}}</th>
        <th>Average</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="description in inputDescriptions">
        <td data-description="{{description}}">{{description}}</td>
        <td data-ng-repeat="month in months">
            {{ inputData | filter:{month:month.yearMonthKey} | matchDescriptionAndSum:description | number:0 }}
        </td>
        <td>{{ inputData | matchDescriptionAndSum:description | divideByTwelve | number:0 }}</td>
        <td>{{ inputData | matchDescriptionAndSum:description | number:0 }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="total">
        <td>Total</td>

        <td data-ng-repeat="month in months">
            {{ inputData | filter:{month:month.yearMonthKey} | transactionSummaries | matchAnyDescription:inputDescriptions | sum:'amount' | number:0 }}
        </td>
        <td>{{ inputData | transactionSummaries | matchAnyDescription:inputDescriptions | sum:'amount' | divideByTwelve | number:0 }}</td>
        <td>{{ inputData | transactionSummaries | matchAnyDescription:inputDescriptions | sum:'amount' | number:0 }}</td>
    </tr>
    </tfoot>
</table>