<div data-ng-include="'js/ng-app-mpga/templates/loading.html'" data-ng-hide="income && expenses"></div>

<h2>Income</h2>
<table data-income-expense-table data-input-data="income" data-input-descriptions="incomeDescriptions" data-months="months" class="table table-striped"></table>

<br>

<h2>Ministry Expenses</h2>
<table data-income-expense-table data-input-data="expenses" data-input-descriptions="ministryDescriptions" data-months="months" class="table table-striped"></table>

<br>

<h2>Healthcare Expenses</h2>
<table data-income-expense-table data-input-data="expenses" data-input-descriptions="healthcareDescriptions" data-months="months" class="table table-striped"></table>

<br>

<h2>Misc</h2>
<table data-income-expense-table data-input-data="expenses" data-input-descriptions="miscDescriptions" data-months="months" class="table table-striped"></table>

<br>

<h2>Assessment, Benefits, Salary</h2>
<table data-income-expense-table data-input-data="expenses" data-input-descriptions="benefitsDescriptions" data-months="months" class="table table-striped"></table>

<br>

<h2>Income, Expenses</h2>
<svg id="total-income-expenses" data-total-income-expenses data-total-income="totalIncome" data-total-expenses="totalExpenses"></svg>

<br>

<h2>Salary, Misc, Benefits, Assessment, Salary</h2>
<svg id="expenses-pie-chart" data-pie-chart data-input="expensesPieData"></svg>

<br>

<h2>Income, Expenses</h2>
<p id="badge"><span class="badge badge-income"></span>&nbsp;Income&nbsp;&nbsp;<span class="badge badge-expenses"></span>&nbsp;Expenses</p>
<svg id="income-expenses-by-month" data-income-expenses-by-month data-income="income" data-expenses="expenses"></svg>
